.product-cards1{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: calc(25% - 20px);
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .product-card__image {
    height: 200px;
    position: relative;
    }
    
    .product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
    }                             
    
    .product-card__info {
    padding: 20px;
    text-align: center;
    }
    
    .product-card__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    }
    
    .product-card__description {
    font-size: 16px;
    margin-bottom: 10px;
    }
    
    .product-card__price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    }
    
    .product-card__button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fce38a;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    }
    
    .product-card__button:hover {
    background-color: #333;
    color: #fce38a;
    }

    .toyota{
      color: #fce38a;
      text-align: center;
    }